{#=====================================================
  Admin Dashboard for verifying account creation
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Admin Dashboard

{% endblock %}


{% block content %}

    <article>

        <h1>New Accounts</h1>

        {% for user in users if user.verified == 0 %}

            <span><strong>{{user.username}}</strong></span>

            <span> has applied for tier {% include "components/tier-icon-name.jinja" %} </span>
                
            <a href="/admin-verify-user/{{user.id}}">✔</a>

            <br>

        {% else %}

            <p>No users need verifying</p>

        {% endfor %}

    </article>

    <article>

        <h1>Verified Accounts</h1>

        {% for user in users if user.verified == 1 %}

            <details>
                
                <summary>{% include "components/tier-icon.jinja" %} {{user.username}} </summary>

                <p>First name: {{user.name}}</p>

                <p>Email: {{user.email}}</p>
                
                <form action="/admin-change-tier-user/{{user.id}}" method="POST" id="changeTierAdmin">

                    <label for="tier">Change tier: </label>

                    <div class="tierSelect">
                        
                        <select name="tier">
                            <option value="1">🆓Basic</option>
                            <option value="2">🥉Bronze</option>
                            <option value="3">🥈Silver</option>
                            <option value="4">🥇Gold</option>
                            <option value="0">👑Admin</option>
                        </select>
                
                        <input type="submit">
                    
                    </div>

                </form>

                <div id="detailsButtons">

                    <a href="/user/{{user.id}}" role="button">View Profile</a>

                    <a href="/admin-unverify-user/{{user.id}}" role="button">Unverify</a>

                    <a href="/admin-delete-user/{{user.id}}" onclick="return confirm('Are you sure you want to delete user {{user.id}}? You will not be able to recover their account.');" role="button">Delete</a>

                </div>
            
            </details>

        {% else %}

            <p>No users need verifying</p>

        {% endfor %}

    </article>

{% endblock %}

