{#=====================================================
  Admin Dashboard for verifying account creation
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Admin Dashboard

{% endblock %}


{% block content %}

    <article>

        <h1>New Accounts</h1>

        {% for user in users if user.verified == 0 %}

            <span><strong>{{user.username}}</strong></span>

            <span> is applying for tier {% include "components/tier-icon.jinja" %} </span>
                
            <a href="/admin-verify-user/{{user.id}}">✔</a>

            <a>x</a>

            <br>

        {% else %}

            <p>No users need verifying</p>

        {% endfor %}

    </article>

    <article>

        <h1>Verified Accounts</h1>

        {% for user in users if user.verified == 1 %}

            <details>
                
                <summary>{{user.username}} {% include "components/tier-icon.jinja" %}</summary>
                
                <a href="/user/{{user.id}}">View Profile</a>

                <a href="/admin-delete-user/{{user.id}}" onclick="return confirm('Are you sure you want to delete user {{user.id}}?');" >Delete Account</a>

                <a href="/admin-unverify-user/{{user.id}}">Unverify User</a>

                <form action="/admin-change-tier-user/{{user.id}}" method="POST">

                    <label for="tier">Change tier: </label>

                    <select name="tier">
                        <option value="1">🆓Basic</option>
                        <option value="2">🥉Bronze</option>
                        <option value="3">🥈Silver</option>
                        <option value="4">🥇Gold</option>
                        <option value="0">👑Admin</option>
                    </select>
                    
                    <input type="submit">

                </form>
            
            </details>

        {% else %}

            <p>No users need verifying</p>

        {% endfor %}

    </article>

{% endblock %}

