{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Posts Feed

{% endblock %}


{% block content %}

    <p>You're logged in!</p>

    <p>Posts will appear here.</p>

    <a href="/make-a-post" role="button">Make a post</a>

{% endblock %}

