{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Dollar Scholar

{% endblock %}

{# registration page, free tiers shouldn't need to be verified #}

{% block content %}

    <section id="home">

        {% for post in posts %}

            {% if (session.tier >= post.min_tier and user.verified == 1) or (session.is_admin ) or (user.verified == 0 and post.min_tier == 1) %}

                <li>
                    <a href="/post/{{ post.p_id }}">
                        <p id="homePostTitle">{{ post.title }}</p> 
                    </a>

                    <p id="author">by {{ post.username }}</p>

                    {% if post.video_id %}

                        <iframe 
                        width="560" height="315" 
                        src="https://www.youtube.com/embed/{{ post.video_id }}" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                        </iframe>

                    {% elif post.has_image %} {#checks if post has an image#}

                        <a href="/post/{{ post.p_id }}">
                            <img src="/image/{{ post.p_id }}" alt="{{ post.name }}">
                        </a>
                        
                    {% endif %}

                    <a href="/post/{{ post.p_id }}" class="multiline-ellipsis" id="homePostContent">{{ post.content }}</a>

                </li>

            {% else%}

                <li>

                    <a href="/home/">
                      <strong>{{ post.title }}</strong> by {{ post.username }}
                    </a>

                    <p>🔒 <strong>Unlock</strong> this post by getting a <strong>higher tier!</strong> It requires a minimum tier of {% include "components/tier-icon-name-(for_post).jinja" %} and you must be <strong>verified</strong>.</p>

                </li>

            {% endif %}


        {% else %}

            <p>No posts!</p>

        {% endfor %}

        {% if session.tier == 0 %}

            <a href="/new-post" role="button">+</a>

        {% endif %}

    </section>

{% endblock %}

