{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Posts Feed

{% endblock %}


{% block content %}

    <p>You're logged in!</p>

    <p>Posts will appear here.</p>

    {% for post in posts %}

    <li>
      <a href="/post/{{ post.p_id }}">
        <strong>{{ post.title }}</strong> - by {{ post.username }}
      </a>
    </li>

    {% else %}

      <p>No posts!</p>

    {% endfor %}

    <br>
    
    <a href="/new-post" role="button">Make a post</a>

{% endblock %}

