{#=====================================================
  User Login page
  - Form for logging in
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Login - Dollar Scholar

{% endblock %}


{% block content %}

    <article id="login">
        
        <h2>Log In</h2>
        <p>No account? <a href="/register">register</a> here</p>
        
        <form action="/login-user" method="POST">

            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <button>Submit</button>

        </form>

    </article>

{% endblock %}

