{#=====================================================
  Post creation page
  - Form for making a post
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Make a post

{% endblock %}


{% block content %}

    <article>

        <header>
            <h2>Make a Post</h2>
            
        </header>

        <form action="/add-user" method="POST">

            <input
                type="text"
                name="name"
                placeholder="First name..."
                required
            >

            <input
                type="email"
                name="email"
                placeholder="Email..."
                required
            >

            <input
                type="text"
                name="username"
                placeholder="Username..."
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password..."
                required
            >

            <p>Explanation about different accounts</p>

            <input 
                type="radio"
                name="tier" 
                value="1"
                label="free"
            > 
            <label for="free">Basic - Free</label>

            <input 
                type="radio"
                name="tier" 
                value="2"
                label="bronze"
            > 
            <label for="bronze">Bronze - $1 per month</label>

            <input 
                type="radio"
                name="tier" 
                value="3"
                label="silver"
            > 
            <label for="silver">Silver - $5 per month</label>

            <input 
                type="radio"
                name="tier" 
                value="4"
                label="gold"
            > 
            <label for="bronze">Gold - $10 per month</label>

            <br>
            <br>

            <button>Submit</button>

        </form>

    </article>

{% endblock %}

