{#=====================================================
  Post creation page
  - Form for making a post
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Make a post

{% endblock %}


{% block content %}

    <article>

        <header>
            <h2>Make a Post</h2>
            
        </header>

        <form action="/add-post" method="POST">

            <input
                type="text"
                name="title"
                placeholder="Title..."
                required
            >

            <input
                type="text"
                name="content"
                placeholder="Content..."
                required
            >

            <input
                type="text"
                name="video"
                placeholder="Video URL..."
                required
            >

            <p>Minimum account that can still see this post</p>

            <input 
                type="radio"
                name="tier" 
                value="1"
                label="free"
            > 
            <label for="free">Basic</label>

            <input 
                type="radio"
                name="tier" 
                value="2"
                label="bronze"
            > 
            <label for="bronze">Bronze - $1 per month</label>

            <input 
                type="radio"
                name="tier" 
                value="3"
                label="silver"
            > 
            <label for="silver">Silver - $5 per month</label>

            <input 
                type="radio"
                name="tier" 
                value="4"
                label="gold"
            > 
            <label for="bronze">Gold - $10 per month</label>

            <br>
            <br>

            <button>Publish</button>

        </form>

    </article>

{% endblock %}

