{#=====================================================
  Post creation page
  - Form for making a post
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    New Post - Dollar Scholar

{% endblock %}


{% block content %}

    <article>

        <header>
            <h2>Make a Post</h2>
            
        </header>

        <form action="/add-post" method="POST" enctype="multipart/form-data">

            <input
                type="text"
                name="title"
                placeholder="Title..."
                required
            >

            <textarea
                type="text"
                name="content"
                placeholder="Content..."
                required
            ></textarea>

            <input
                type="text"
                name="video"
                placeholder="Video URL..."
            >

            <span>Add an image</span>
            <input
                type="file"
                name="image"
                accept="image/*"
            >

            <p>Minimum account that can still see this post</p>

            <label>
                <input 
                    type="radio"
                    name="tier" 
                    value="1"
                    label="free"
                > 
                🆓 Basic
            </label>

            <label>
                <input 
                    type="radio"
                    name="tier" 
                    value="2"
                    label="bronze"
                > 
                🥉 Bronze 
            </label>

            <label>
                <input 
                    type="radio"
                    name="tier" 
                    value="3"
                    label="silver"
                > 
                🥈 Silver 
            </label>

            <label>
                <input 
                    type="radio"
                    name="tier" 
                    value="4"
                    label="gold"
                > 
                🥇 Gold 
            </label>

            <button id="post-new-button">Publish</button>

        </form>

    </article>

{% endblock %}

