{#=====================================================
  Singular post page
  - Shows details of one post
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    {{post.title}} - Dollar Scholar

{% endblock %}


{% block content %}

    <article>

        <header>
            <h1>{{post.title}}</h1>
            <h4>by <a href="/user/{{ post.author }}">👤{{ post.username }}</a> - {{ post.date }}</h4>
        </header>

        <p>{{ post.content }}</p>

        {% if post.video_id %}
            <iframe 
                width="560" height="315" 
                src="https://www.youtube.com/embed/{{ post.video_id }}" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen>
            </iframe>
        {% endif %}

        {# this portion loads images.

        {% if post.image_base64 %}
            <img src="data:{{ post.image_type }};base64,{{ post.image_base64 }}" alt="Post image">
        {% endif %}

        #} 


        <footer>

            {# Only show delete link if logged in AND owner #}
            {% if session.user_id and (post.author == session.user_id) or session.is_admin == true %}

                <a href="/delete-post/{{ post.p_id }}" onclick="return confirm('Really delete?');">Delete Post </a>

            {% endif %}
            

        </footer>

        <br>

        {% if session.tier > 2 or session.is_admin %}

            <form action="/add-comment/{{ post.p_id }}" method="POST">

                <input
                    type="text"
                    name="content"
                    placeholder="Make a comment..."
                    required
                >

                <button>Post Comment</button>
            </form>

        {% else %}

            <p>Apply for a higher tier to post comments.</p>
        
        {% endif %}

    </article>

    <article>
        
        {% if session.tier > 1 or session.is_admin %}
            
            {% for comment in comments %}

                <li id="comments">
                    <span><a href="/user/{{comment.c_author}}">👤 {{ comment.c_username }}</a> - {{ comment.c_date }}</span>
                    <p>
                        {{ comment.c_content }}

                        {% if session.user_id and (comment.c_author == session.user_id) or session.is_admin %}

                            <a href="/delete-comment/{{ post.p_id }}/{{ comment.c_id }}">🗑</a></p>

                        {% endif %}
                    </p>
                </li>

            {% else %}

                <p>No comments!</p>

            {% endfor %}

        {% else %}

            <p>Apply for a higher tier to view comments!</p>

        {% endif %}
    
    </article>

{% endblock %}

