{#=====================================================
  User Registration page
  - Form for adding a new user
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Register - Dollar Scholar

{% endblock %}


{% block content %}

    <article>

        <header>
            <h2>Register</h2>
            <span>Or, if you already have an account, <a href="/login">login</a></span>
        </header>

        <form action="/add-user" method="POST">

            <input
                type="text"
                name="name"
                placeholder="First name..."
                required
            >

            <input
                type="email"
                name="email"
                placeholder="Email..."
                required
            >

            <input
                type="text"
                name="username"
                placeholder="Username..."
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password..."
                required
            >

            <p>The following account tiers will affect how you use this site. </p>
            <p>A basic tier will allow you to see some posts, and no comments.</p>
            <p>A Bronze tier will allow you to see some more posts and comments.</p>
            <p>A Silver tier will allow you to most posts and comments, and post comments. </p>
            <p>A Gold tier will allow you to see all available content.</p>

            <input 
                type="radio"
                name="tier" 
                value="1"
                label="free"
            > 
            <label for="free">🆓Basic - Free</label>

            <input 
                type="radio"
                name="tier" 
                value="2"
                label="bronze"
            > 
            <label for="bronze">🥉Bronze - $1 per month</label>

            <input 
                type="radio"
                name="tier" 
                value="3"
                label="silver"
            > 
            <label for="silver">🥈Silver - $5 per month</label>

            <input 
                type="radio"
                name="tier" 
                value="4"
                label="gold"
            > 
            <label for="bronze">🥇Gold - $10 per month</label>

            <br>
            <br>

            <button>Submit</button>

        </form>

    </article>

{% endblock %}

