{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    User {{ user.username }} - Dollar Scholar

{% endblock %}



{% block content %}

    <h1> 
        👤 {{ user.username }} 

        {% include "components/tier-icon.jinja" %}
        
    </h1>

    {% if session.user_id == user.id %}

        {% if user.verified == 1 %}

            <span>You are <strong>verified</strong>.</span>

        {% else %}

            <span>You are <strong>not verified</strong>.</span>

        {% endif %}

        <span>You currently have the tier <strong>{% include "components/tier-icon-name.jinja" %}</strong>. </span>

        {% if session.tier < 4 and session.is_admin == false %}

            <span>You can upgrade your tier to see more content.</span>

        {% endif %}

        <form action="/change-tier-user" method="POST">

            <label for="tier">Below you may apply for a different tier. Doing so will unverify you. </label>
            <select name="tier">

                <option value="4">🥇Gold</option>
                <option value="3">🥈Silver</option>
                <option value="2">🥉Bronze</option>
                <option value="1">🆓Basic</option>
                
            </select>

            <input type="submit">

        </form>
        
        <a href="/logout" role="button">Log out</a>

    {% endif %}

    <br>
    <br>

    <ul>
        {% for item in items %}
            
            {% if item.type == "post" %}
                <li>
                    <strong><a href="/post/{{ item.p_id }}"> {{ item.title }} </a></strong>
                    <small>{{ item.date }}</small>
                    

                    {% if item.video_id %}
                    <br>
                    <iframe 
                        width="560" height="315" 
                        src="https://www.youtube.com/embed/{{ item.video_id }}" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                    {% endif %}

                    <br>

                    <span>{{ item.content }}</span>
                    {% if session.user_id == item.author %}
                        <br>
                        <span><a href="/delete-post/{{ item.p_id }}">delete</a></span>
                    {% endif%}
                </li>

            {% elif item.type == "comment" %}
        
                <li>
                    <strong><a href="/post/{{ item.post }}">See post ⬈</a></strong>
                    <small>{{ item.date }}</small>
                    <br>
                    <span>{{ item.content }}</span>
                    {% if session.user_id == item.author %}
                        <br>
                        <span><a>delete</a></span>
                    {% endif%}
                </li>

            {% endif %}

        {% else %}

            <p>This user has not made any posts or comments.</p>

        {% endfor %}
    </ul>


{% endblock %}

