{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    User {{ user.username }}

{% endblock %}



{% block content %}

    <h1> 👤 {{ user.username }} </h1>

    <p> Tier: {{ user.tier }}</p>

    {% if session.user_id == user.id %}
        
        <p>This is you</p>

    {% endif %}

    {% if user.tier == 0 %}

        <a href="/admin"> [admin dashboard] </a>

    {% endif %}

    <br>

    <ul>
        {% for item in items %}
            
            {% if item.type == "post" %}
                <li>
                    <strong><a href="/post/{{ item.p_id }}"> {{ item.title }} </a></strong>
                    <small>{{ item.date }}</small>
                    <br>
                    <span>{{ item.content }}</span>
                    {% if session.user_id == item.author %}
                        <br>
                        <span><a href="/delete-post/{{ item.p_id }}">delete</a></span>
                    {% endif%}
                </li>

            {% elif item.type == "comment" %}
        
                <li>
                    <strong><a href="/post/{{ item.post }}">See post ⬈</a></strong>
                    <small>{{ item.date }}</small>
                    <br>
                    <span>{{ item.content }}</span>
                    {% if session.user_id == item.author %}
                        <br>
                        <span><a>delete</a></span>
                    {% endif%}
                </li>

            {% endif %}

        {% endfor %}
    </ul>


{% endblock %}

