/*=====================================================
  User style sheet - Building upon PicoCSS
=====================================================*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');


html, body {
  height: 100%;
  margin: 0;
  font-family: inter;
}

body {
  display: flex;
  flex-direction: column;
}

/* COLOR VARIABLES */
:root {
    --primary: #5CA58B; 
    --secondary: #7D8FB7; 
    --accent: #A1BBCB; 
    --text: #0C1613;
}


nav {
    background-color: var(--accent);
    margin: -1rem;
    padding: 1rem;
}

nav li a {
    color: var(--text);
    background-color: var(--accent);
    padding: 0.2rem;
}

nav a[role=button] {
    color: #0C1613;
    background-color: var(--secondary);
    border-radius: 10rem;
    border: 0;
    padding: 0.6rem;
}

#navIcon {
    width: 2.8rem;
    background-color: var(--primary);
    padding: 0.4rem;
    border-radius: 100%;
}

main {
    flex: 1;
}

#pageFooter{
    display: flex;
    background-color: var(--accent);
    margin: -1rem;
    padding: 3rem;
    justify-content: center;
}

/* LANDING PAGE -------------------------------------------- */

#landing h1 {
    background-color: var(--secondary);
    display: flex;
    padding: 3rem;
    justify-content: center;

}

#landing li {
    background-color: var(--primary);
    list-style-type: none;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: none;
}

#landing ul {
    padding-left: 0;
}

#landing a[role=button] {
    width: 100%;
    background-color: var(--secondary);
    color: var(--text);
    padding: 0.4rem;
    border-radius: 1rem;
    border: 0;
    padding: 2rem;
}

#landingButtons {
    display: flex;
    gap: 1rem;
}

/* LOG IN PAGE -------------------------------------------- */

#login {
    display: flex;
    flex-direction: column;
    background-color: var(--accent);
    margin: 2.5rem;
    border-radius: 1rem;
    align-items: center;
}

#login button, #register button {
    width: 100%;
    background-color: var(--secondary);
    color: var(--text);
    padding: 0.4rem;
    border-radius: 1rem;
    border: 0;
    padding: 1rem;
}

#login a {
    color: var(--text);
}


/* HOME -------------------------------------------- */

#home a[role="button"] {
    
    background-color: var(--primary);
    color: var(--text);
    border: 0;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 3rem;
    right: 2rem;
}

#home li {
    background-color: var(--accent);
    color: var(--text);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}

#homePostTitle {
    color: var(--text);
    text-decoration: none;
    font-size: 1.4rem;
}

#homePostContent {
    color: var(--text);
    text-decoration: none;
}

#home p {
    color: var(--text);
    margin-bottom: 0;

}

#home img {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-width: 100%;
    height: auto;
    border: none;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.multiline-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;        /* Number of lines before cutting off */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

/* POST PAGE -------------------------------------------- */

#comments button {
    width: 100%;
    background-color: var(--secondary);
    color: var(--text);
    padding: 0.4rem;
    border-radius: 1rem;
    border: 0;
    padding: 1rem;
}

/* NEW POST PAGE -------------------------------------------- */


#post-new-button { 
    margin-top: 1rem;
    width: 100%;
    background-color: var(--secondary);
    color: var(--text);
    padding: 0.4rem;
    border-radius: 1rem;
    border: 0;
    padding: 1rem;
}


/* ADMIN -------------------------------------------- */

details[open] > summary {
    font-weight: bold;
    font-size: larger;
}

details a[role="button"] {
    width: 100%;
    background-color: var(--secondary);
    color: var(--text);
    padding: 0.4rem;
    border-radius: 1rem;
    border: 0;
    padding: 1rem;
}

#detailsButtons {
    display: flex;
    gap: 1rem;
}

/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

li {
    list-style-type: none;
}

  
