/*=====================================================
  User style sheet - Building upon PicoCSS
=====================================================*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

html {
    font-family: inter;
}

/* COLOR VARIABLES */
:root {
    --primary: #5CA58B; 
    --secondary: #7D8FB7; 
    --accent: #A1BBCB; 
    --text: #0C1613;
}


nav {
    background-color: var(--accent);
    margin: -1rem;
    padding: 1rem;
}

nav li a {
    color: var(--text);
    background-color: var(--accent);
    padding: 0.2rem;
}

nav a[role=button] {
    color: #0C1613;
    background-color: var(--secondary);
    border-radius: 10rem;
    border: 0;
    padding: 0.6rem;
}

#navIcon {
    width: 2.8rem;
    background-color: var(--primary);
    padding: 0.4rem;
    border-radius: 100%;
}

/* LANDING PAGE -------------------------------------------- */

#landing h1 {
    background-color: var(--secondary);
    display: flex;
    padding: 3rem;
    justify-content: center;

}

#landing li {
    background-color: var(--primary);
}

/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

li {
    list-style-type: none;
}

details[open] > summary {
    font-weight: bold;
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;        /* Number of lines before cutting off */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
